  .container{
    display: flex;
    height: 100%;
    width: 100vw;
    overflow: hidden;  
    background-color: rgb(75, 75, 75);
  }
 
  .backToHome {
    margin: 1.5rem 1rem 1rem;
    color: #eaeaea;
  }

  #column {
    height: 100vh;  /* allows both columns to span the full height of the browser window */
    display: flex;
    flex-direction: column; 
  }

  .sidebar {
    flex-shrink: 0;
    width: 30vw;
    overflow-y: auto;
    background-color: rgb(75, 75, 75); 
    align-items: center;
    padding-top: 4vh;
  }

  

  .rightside {
    width: 70vw;
  }

  .topright {
    flex-shrink: 0;
    display: flex;
    background-color: rgb(75, 75, 75);
    height: 4vh;
  }

  .maincont {
    flex-grow: 1;
    overflow-y: auto;
    background-color: rgb(75, 75, 75);
  }


  .footer {
    background-color: rgb(75, 75, 75);
    font-size: 1.2rem;
  }
